div{
    border: solid black;
    width: 300px;
    height: 150px;
}
.box1{
    background-color: yellowgreen;
    position: fixed;
    top: 100px;
   
}
.box2{
    background-color: yellow;
    position: sticky;
    top: 20px;
}
