
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ephesis&display=swap');
.top{
    width: 100%;
    height: 40px;
    background-color:#110a0a;
}
.head{
    width: 100%;
    height: 76px;
    background-color:#ffffff;
    position:relative;
    justify-content: space-evenly;
    
}
.head1{
    width: 450px;
    height: 91px;
    background-color: #ffffff;
    margin-left: 470px;
    font-size: 59px;
    position:absolute;
    font-family: 'Birthstone', cursive;
    
   
}
.head2{
    width:auto;
    height: 78px;
    margin-left:329px;
    background-color:#ffffff;
    position: absolute;
}
.logo{
    width: 114px;
    height: 78px;
    border: white;
    margin-left: 29px;
    
}
.about{
    width: 100%;
    height:25px ;
    background-color:#110a0a;
    border: solid 1.25px #110a0a;
    position:relative;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
    font-size:26px;
    position:absolute;


}
.one{
    width: 78px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    margin-left:1186px;
    position:absolute;
}
.two{
    width:74px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    margin-left:1100px;
    position: absolute;
    
}
.three{
    width: 70px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    margin-left:1017px;
    position:absolute;

}
.four{
    width: 50px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    margin-left:952px;
    position:absolute;
}
/* headerr */
body{
    background-image: url(/images/1.jpg);

}
.body{
    width:382px;
    height:103px;
    border-radius: 100px / 50px;
    background-color: darkred;
    margin-left:390px;
    margin-top: 100px;
    padding-top: 57px;
    padding-left: 36px;
    font-size: 38px;
    background-image: url(/images/okk.jpg);
    color: rgb(53, 36, 36);
    border:#3a2424 5px solid;
    font-family: 'Birthstone', cursive;
}

.write{
    width:100%;
    height:150px;
    background-color: white;
    margin-top: 50px;
    border: solid 6px #110a0a;
    font-family: 'Birthstone', cursive;
    font-size: 27px;
    color: rgb(58, 41, 28);
    background-image: url(/images/okk.jpg);
}

.space{
    width: 100%;
    height: 120px;
}
.type{
    width:300px;
    height: 60px;
    background-color: darkgray;
    border: 5px solid #110a0a;
    background-image: url(/images/ok.jpg);
    font-family: 'Stick No Bills', sans-serif;
    font-size: 43px;
    padding-left:33px;
    margin-left:36%;
}

/* types */
.first{
    width: 100%;
    height: 400px;
    position: relative;
}

.latte{
    width:28%;
    height: 400px;
    background-image: url(/images/okk.jpg);
    border: solid 5px black;
    position: absolute;
    text-align: center;
    font-size: 21px;
    font-family: 'Ephesis', cursive;
}
.capp{
    width: 28%;
    height:400px;
    background-image: url(/images/okk.jpg);
    border: solid 5px black;
    position: absolute;
    margin-left: 460px;
    text-align: center;
    font-size: 20px;
    font-family: 'Ephesis', cursive;

}
.black{
    width: 28%;
    height:400px;
    background-image: url(/images/okk.jpg);
    border: solid 5px black;
    position: absolute;
    text-align: center;
    margin-left:900px;
    font-size: 22px;
    font-family: 'Ephesis', cursive;

}
.aa{
    width: 170px;
    height: 154px;
    padding-top: 7px;
    

}
.second{
    width: 100%;
    height: 400px;
    position: relative;
}
.cold{
    width:28%;
    height: 400px;
    background-image: url(/images/okk.jpg);
    border: solid 5px black;
    position: absolute;
    text-align: center;
    font-size: 21px;
    font-family: 'Ephesis', cursive;
}
.mocha{
    width: 28%;
    height:400px;
    background-image: url(/images/okk.jpg);
    border: solid 5px black;
    position: absolute;
    margin-left: 460px;
    text-align: center;
    font-size: 20px;
    font-family: 'Ephesis', cursive;
}
.americano{
    width: 28%;
    height:400px;
    background-image: url(/images/okk.jpg);
    border: solid 5px black;
    position: absolute;
    text-align: center;
    margin-left:900px;
    font-size: 22px;
    font-family: 'Ephesis', cursive;
}
.last{
    width: 100%;
    height: 250px;
    background-color: white;
    position: relative;
}
.feed{
    width: 30%;
    height:250px;
    font-size: 18px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    position: absolute;
}
.log{
    width: 30%;
    height: 250px;
    margin-left: 440px;
}
